// Variables
$color-primary: #c4544a;
$color-background: #f9e8e7;
$color-secondary: #6c3530;
$color-text: #fcf5f4;
$color-shadow: #000;
$color-accent: #cf6c64;
$color-menu-bg: #333;
$color-nav-bg: #000;
$color-accent-light: rgba(207, 18, 18, 0.6);
$font-family-primary: 'Nunito', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');