.parrafos {
    font-family:$font-family-primary;
    font-size: 20px;
    color: $color-text;
    text-shadow: #000;
    background-color: $color-accent;
    justify-content: center;
    opacity: 70%;
}
.parrafos3 {
    font-family: $font-family-primary;
    font-size: 20px;
    color: $color-text;
    text-shadow: #000;
    justify-content: center;
    opacity: 70%;
    background-color: $color-accent;
}


.Argentina {
    font-family: $font-family-primary;
    font-size: 40px;
    color: $color-primary;
    margin-top: 10px;
}


.titulo {
    font-family: $font-family-primary;
    font-size: 40px;
    text-align: center;
    color: $color-background;
}